* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yu Gothic";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.fw-600 {
  font-weight: 600 !important;
}

a {
  text-decoration: none;
  color: #ccc;
}

.main-content {
  background-color: #F7F7F7;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
}
.hidden {
    display: none !important;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-4 {
    margin-top: 4px;
}
.m-l-12 {
    margin-left: 12px;
}

.btn-red{
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #E5352B;
  height: 37px;
  width: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0;
  border: none
}
.error-msg {
  font-size: 12px;
  color: #fd5e1c;
}

.nl2br {
  white-space: pre-line;
  br:first-child {
    display: none;
  }
}
.mr-6 {
    margin-right: 6px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mt-4px {
    margin-top: 4px;
}
.toggle-flag {
  --toggle-bg-on: #50FF50;
  --toggle-border-on: #50FF50;
}
