.event-report{
  @include mq-xs(){
    padding: 0 9px;
    padding-bottom: 13px;
  }
  .report{
    &-block-top{
      --bs-gutter-x: 1.5rem;
      background-color: #fff;
      margin: 0 calc(var(--bs-gutter-x) * -0.5) 9px calc(var(--bs-gutter-x) * -0.5);
      @include mq-xs() {
        margin: 0 -9px 9px -9px;
      }
    }
    &-title{
      padding: 17.4px 9px 13.4px 9px;
      font-weight: 700;
      &-left{
        font-size: 14px;
      }
      &-right{
        font-size: 10px;
      }
    }
    &-heading{
      height: 20px;
      display: flex;
      width: fit-content;
      padding: 0 7px;
      border: #E5352B 1px solid;
      border-radius: 10px;
      color: #E5352B;
      font-size: 10px;
      align-items: center;
      line-height: 16px;
      letter-spacing: 0;
      margin-bottom: 8px;
      font-weight: 700;
    }
    &-meta{
      padding: 0 9px 17.7px 9px;
    }
    &-meta-item{
      &:not(:first-child){
        margin-left: 21px;
      }
    }
    &-meta-icon{
      img{
        height: 15.5px;
        width: auto;
        max-width: 15.5px;
      }
    }
    &-meta-des{
      margin-left: 5.5px;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
    }
    &-condition{
      // margin-bottom: 9px;
      padding: 9px;
      border-top: #ECECEC 1px solid;
      &-des{
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0;
      }
    }
    &-reward{
      padding: 0 9px 9px 9px;
      &-note{
        font-size: 12px;
        display: flex;
        height: 16px;
        line-height: 20px;
        margin-bottom: 7.9px;
        letter-spacing: 0;
        color: #000;
      }
    }
    &-content{
      .report-frame-heading{
        margin-bottom: 6px;
        &::after{
          content: "*";
          color: #E5352B;
          display: block;
        }
      }
      &-textarea{
        width: 100%;
        height: 102px;
        border-radius: 4px;
        border: #CCCCCC 1px solid;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        padding: 8px 11px;
        resize: none;
      }
      &-textarea::placeholder{
        color: #CFCFCF;
        font-weight: 700;
      }
      &-label{
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        display: flex;
        height: 16px;
        align-items: center;
      }
      &-input{
        font-size: 14px;
        height: 23px;
        width: 139px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F5F5;
        border: #CCCCCC 1px solid;
        line-height: 22px;
        border-radius: 4px;
      }
      &-file{
        margin-bottom: 9px;
      }
      .upfile-list {
        margin-bottom: 8px;
      }
      .upfile-item:not(:first-child) {
        margin-top: 2px;
      }
    }
    &-frame{
      background-color: #FFFFFF;
      padding: 12px 12px 11px 12px;
      border-radius: 4px;
      margin-bottom: 7px;
      &-heading{
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 22px;
        height: 18px;
        display: flex;
        align-items: center;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
.table-reward{
  border: #707070 1px solid;
  &-row{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    color: #000;
    height: 40px;
    &:not(:last-child){
      border-bottom: #707070 1px solid;
    }
  }
  &-name {
    width: 52.929%;
    padding: 0 10px;
  }
  &-slot{
    font-size: 12px;
    margin-right: 0;
    margin-left: auto;
    padding: 0 12px;
  }
}


.history-upfile{
  &-item{
    &:not(:first-child){
      margin-top: 20px;
    }
  }
  &-date{
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
    margin-right: 20px;
  }
  &-title{
    font-size: 10px;
    height: 13px;
    display: flex;
    line-height: 16px;
    align-items: center;
  }
  &-list{
    margin-top: 11px;
    .upfile-list{
      margin-top: 4px;
    }
  }
  &-note{
    margin-right: 0;
    margin-left: auto;
    padding: 3px 7px 2px 7px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 0;
    color: #000;
    background-color: #E5B32B;
    height: fit-content;
  }
  &-note-active{
    color: #FFFFFF;
    background-color: #178E00;
  }
}
.upfile{
  &-item{
    height: 13px;
    &:not(:first-child){
      margin-top: 4px;
    }
  }
  &-item-icon img {
    width: 10.83px;
    height: 4.92px;
    margin-right: 8.2px;
  }
  &-item-name {
    font-weight: 700;
    color: #6B6EE2;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    height: 13px;
    letter-spacing: 0;
    margin-right: 8.2px;
  }
  &-item-button {
    transform: rotate(45deg) translateY(-3px);
    color: #E5352B;
  }
}