.register {
  .error-msg {
    font-size: 10px;
    line-height: 16px;
    color: #E5352B;
    margin-top: 8px;
  }

  &__container {
    padding-top: 108px;
    padding-bottom: 108px;

    .title {
      font-size: 32px;
      line-height: 52px;
      color: #000;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
}

.register-form {
  @include mq-lg() {
    max-width: 60%;
    margin: 0 auto;
  }
  @include mq-xl() {
    max-width: 50%;
  }

  .form-header {
    text-align: center;

    .step-indicator {
      position: relative;
      flex: 1;
      padding-top: 34px;
      font-size: 10px;
      line-height: 16px;
      color: #C0C0C0;
      font-weight: bold;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        background-color: #D8D8D8;
        border-radius: 50%;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
        color: #fff;
        z-index: 9;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 14px;
        width: 100%;
        height: 1px;
        background-color: #D8D8D8;
      }

      &:first-child {
        &::before {
          content: "1";
        }
      }

      &:nth-child(2) {
        &::before {
          content: "2";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "3";
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &.active {
        color: #1C1C1C;

        &::before {
          background-color: #E4422D;
        }
      }
    }
  }

  .step__container {
    margin-top: 50px;
  }

  .step {
    .input-group {
      height: 45px;

      .input-group-text {
        border-radius: 4px;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        font-weight: bold;
        background-color: #ccc;
        border: 1px solid #ccc;
      }

      .input-tel {
        border-radius: 4px;
        border: 1px solid #ccc;

        &::placeholder {
          font-size: 15px;
          line-height: 24px;
          color: #EBEBEB;
          font-weight: bold;
        }
      }
    }

    .input-label {
      font-size: 16px;
      line-height: 26px;
      color: #000;
      font-weight: bold;
      margin-bottom: 6px;
    }
  }

  .capcha {
    margin: 16px 0 12px;
    div {
        div {
            width: 100% !important;
        }
    }
  }

  .submit__container {
    margin-top: 35px;
    text-align: center;

    &.have-capcha {
      margin-top: 0;
    }

    .btn-submit {
      display: inline-block;
      margin-bottom: 34px;
      width: 160px;
      height: 45px;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      line-height: 45px;
      background-color: #E4422D;
      border-radius: 4px;
      outline: none;
      border: none;
      margin-top: 20px;
    }

    .txt-login {
      font-size: 16px;
      line-height: 26px;
      color: #000;

      a {
        font-weight: bold;
        color: #000;
      }
    }
  }
}
.otp-input {
    width: 60px;
    height: 90px;
    padding: 5px;
    bottom: 20px;
    margin: 15px 2px 27px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}
.input_container{
    display: flex;
    justify-content: center;
}

